<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/assets"></ion-back-button>
    </ion-buttons>

    <ion-title>Asset Info</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="copyKey()">
        <ion-icon name="copy" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="showKey()">
        <ion-icon name="eye" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-buttons>
  

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
              <ion-item lines="none"> 
                <ion-avatar slot="start">
                  <ion-img src="assets/logos/{{ asset?.logoUrl }}"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h1>{{ asset?.name }}</h1>
                  <h3>{{ asset?.balance | number: '1.8-8' }} {{ asset?.symbol }}</h3>
                  <p>{{ asset?.balanceBTC | number: '1.8-8' }} BTC ($ {{ asset?.balanceUSD | number: '1.2-2' }})</p>
                  <span style="font-size: 80%;">{{ asset?.publicKey }}</span>
                </ion-label>
              </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="sendFunds()" [disabled]="asset?.balance == 0">
        <ion-label>Send</ion-label>
        <ion-icon name="arrow-round-up"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="receiveFunds()">
        <ion-icon name="arrow-round-down"></ion-icon>
        <ion-label>Receive</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
