<ion-header>

  <ion-toolbar color="primary">

    <ion-title>Lookup Contact</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
      
</ion-header>
  

<ion-content padding>

  <ion-searchbar type="text" debounce="500" (ionInput)="filterContacts($event)" animated></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let contact of contacts" lines="full" (click)="getContact(contact.username)">
        <ion-icon name="contact" size="large" slot="start"></ion-icon>
        <ion-label>
          {{ contact.username }}
        </ion-label>
    </ion-item>
  </ion-list>


</ion-content>

  