<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start" menu="navMain">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>About</ion-title>

  </ion-toolbar>
      
</ion-header>
  
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-item lines="none">
          <ion-label text-wrap>
            Asset prices are collected from <a href="https://www.coingecko.com/" target="blank">Coinlib</a> 
            and <a href="https://coinlib.io/" target="blank">Coinlib</a> 
            through their free APIs and are updated every 60 seconds.
          </ion-label>          
        </ion-item>
        <ion-item lines="none">
          <ion-label text-wrap>
            The code for fetching and storing the prices is all 
            written by SPXTek and is meant to be indicative, 
            and can lag behind the actual market prices.
          </ion-label>          
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-item lines="none">
          <img src="assets/logos/coingecko.png">
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-item lines="none">
          <img src="assets/logos/coinlib.png">
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
