<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/assets"></ion-back-button>
    </ion-buttons>

    <ion-title>Asset Receive</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-item lines="none"> 
              <ion-avatar slot="start">
                <ion-img src="assets/logos/{{ asset?.logoUrl }}"></ion-img>
              </ion-avatar>
              <ion-label>
                <h1>{{ asset?.name }}</h1>
                <h3>{{ asset?.symbol }}</h3>
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-item text-center lines="none">
              <ion-label text-wrap>{{ asset?.publicKey }}
              </ion-label>
            </ion-item>
            <ion-item text-center lines="none">
              <qrcode [qrdata]="qrCode"></qrcode>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
